{{ define "head" }}
  <!-- React App CSS and JS -->
  {{- /* Determine app directory from params or section name */ -}}
  {{- $appName := .Params.appName | default .Section | default "pag" -}}
  {{- $assetsPath := printf "static/%s/assets" $appName -}}
  {{- $appAssets := readDir $assetsPath -}}
  {{- range $appAssets -}}
    {{- if strings.HasSuffix .Name ".css" -}}
  <link rel="stylesheet" crossorigin href="/{{ $appName }}/assets/{{ .Name }}">
    {{- end -}}
  {{- end -}}
  {{- range $appAssets -}}
    {{- if strings.HasSuffix .Name ".js" -}}
  <script type="module" crossorigin src="/{{ $appName }}/assets/{{ .Name }}"></script>
    {{- end -}}
  {{- end -}}
{{ end }}

{{ define "main" }}
  {{ partial "react-app-content.html" . }}
{{ end }}
