{{ define "title" }}{{ .Site.Title }} - {{ .Site.Params.description }}{{ end }}

{{ define "head" }}
<!-- PAG React App CSS -->
{{- $appAssets := readDir "static/pag/assets" -}}
{{- range $appAssets -}}
  {{- if strings.HasSuffix .Name ".css" -}}
<link rel="stylesheet" crossorigin href="/pag/assets/{{ .Name }}">
  {{- end -}}
{{- end -}}
{{ end }}

{{ define "main" }}
<!-- PAG React App Root -->
<div class="paper" id="root"></div>
{{ end }}

{{ define "scripts" }}
<!-- PAG React App JS -->
{{- $appAssets := readDir "static/pag/assets" -}}
{{- range $appAssets -}}
  {{- if strings.HasSuffix .Name ".js" -}}
<script type="module" crossorigin src="/pag/assets/{{ .Name }}"></script>
  {{- end -}}
{{- end -}}
{{ end }}
